- form = local_assigns.fetch(:form)

%fieldset.system_header_footer
  %legend
    = _('System header and footer:')
  .form-group
    = form.label :header_message, _('Header message'), class: 'control-label'
    .col-sm-10
      = form.text_area :header_message, placeholder: _('State your message to activate'), class: "form-control js-autosize"
  .form-group
    = form.label :footer_message, _('Footer message'), class: 'control-label'
    .col-sm-10
      = form.text_area :footer_message, placeholder: _('State your message to activate'), class: "form-control js-autosize"
  .form-group.js-toggle-colors-container
    .col-sm-10.col-sm-offset-2
      = link_to _('Customize colors'), '#', class: 'js-toggle-colors-link'
  .form-group.js-toggle-colors-container.hide
    = form.label :message_background_color, _('Background Color'), class: 'control-label'
    .col-sm-10
      = form.color_field :message_background_color, class: "form-control"
  .form-group.js-toggle-colors-container.hide
    = form.label :message_font_color, _('Font Color'), class: 'control-label'
    .col-sm-10
      = form.color_field :message_font_color, class: "form-control"
